AlignAfterOpenBracket: DontAlign
AlwaysBreakBeforeMultilineStrings: 'true'
AlwaysBreakTemplateDeclarations: MultiLine
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
BasedOnStyle: LLVM
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
EmptyLineBeforeAccessModifier: Never
EmptyLineAfterAccessModifier: Never
FixNamespaceComments: 'false'
IncludeBlocks: Regroup
Language: Cpp
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: 'true'
SortUsingDeclarations: 'true'
SpaceAfterTemplateKeyword: 'true'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeCtorInitializerColon: 'true'
SpaceBeforeInheritanceColon: 'true'
SpaceBeforeRangeBasedForLoopColon: 'true'
SpaceInEmptyParentheses: 'true'
SpacesBeforeTrailingComments: '1'
SpacesInAngles: 'true'
SpacesInCStyleCastParentheses: 'true'
SpacesInContainerLiterals: 'true'
SpacesInParentheses: 'true'
SpacesInSquareBrackets: 'true'
Standard: Auto
IndentWidth: 4
ContinuationIndentWidth: 4
AlignOperands: false